* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 10px;

}

*::-webkit-scrollbar-track {
  border-radius: 10px;
} 

*::-webkit-scrollbar-thumb {
  background-color: #ff8000;
  border-radius: 10px;
  border: 2px double white
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway";
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: white;
  width: calc(100% - 40px);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-nav {
  width: 50px;
}

h1 {
  color: #ff8000;
  font-family: "Dancing Script";
  font-size: 32px;
}

.nav-mid {
  display: flex;
  align-items: center;
}

.nav-mid-text {
  font-size: 20px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 50px;
}

.nav-right-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}

.nav-right-round {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.nav-right-round:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.content {
  display: flex;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: calc(100% - 332px);
}

.content-img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  margin-top: 92px;
}

.content-left-header {
  width: 100%;
  padding: 24px 0 16px 0;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
}
.content-left-head {
  display: flex;
  justify-content: space-between;
}

.content-left-icons {
  display: flex;
  gap: 20px;
}

h2 {
  font-weight: 900;
  font-size: 28px;
}

.content-left-icon {
  height: 26px;
  width: 26px;
  object-fit: cover;
  cursor: pointer;
}
.heartnofill {
  height: 26px;
  width: 26px;
  object-fit: cover;
  background-image: url(../img/icons/heart_nofill.svg);
  cursor: pointer;
  background-repeat: no-repeat;
}
.heartfill {
  height: 26px;
  width: 26px;
  background-image: url(../img/icons/heart_filled.svg);
  background-position: center;
  background-size: 26px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.head-stars {
  height: 25px;
  width: 25px;
}

.content-left-content {
  width: 80%;
}

.recommendation {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.recommendations {
  padding-left: 10px;
  color: black;
}

.icons-header-big {
  height: 20px;
  width: 20px;
}
.icons-header-small {
  height: 30px;
  width: 25px;
}

.flex-mid-hor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cards {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.card {
  border: 1px solid #dbd9d7;
  border-radius: 10px;
  width: 80%;
  margin-top: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.card:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.card-icon {
  height: 28px;
  width: 24px;
  cursor: pointer;
}

.menu-text {
  font-size: 20px;
  font-weight: 800;
}

.card-menu-add {
  width: 35px;
  height: 35px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.menu-head {
  display: flex;
  justify-content: space-between;
}

.basket {
  width: 300px;
  padding: 30px 15px 0 15px;
  position: fixed;
  height: 100%;
  right: 0;
  text-align: center;
  box-shadow: -6px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -6px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -6px 0px 8px 0px rgba(0, 0, 0, 0.1);
  margin-top: 92px;
}

.basket-header {
  font-size: 20px;
  font-weight: bold;
}

.basket-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.basket-image {
  height: 30px;
  width: 30px;
}

.basket-content {
  margin-top: 20px;
}

.basket-position {
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #f5f5f5;
  margin-bottom: 10px;
  border-radius: 10px;
}

.basket-position-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.basket-position-value {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.basket-position-value-icon {
  height: 30px;
  width: 30px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
}

.basket-position-value-text {
  font-size: 20px;
}

.text-bold-20 {
  font-weight: bold;
  font-size: 20px;
}

.basket-media{
  display: none;
}

.button-order-finish {
  border: none;
  padding: 10px;
  border-radius: 30px;
  background-color: #f36805;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button-order-finish:hover {
  background-color: #cf5600;
}

.button-no-function {
  border: none;
  padding: 10px;
  border-radius: 30px;
  background-color: #8b8b8b3b;
  font-size: 16px;
  font-weight: bold;
  color: rgb(126, 121, 121);
}

.total-amount-yellow {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 0, 0.267);
  font-size: 14px;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}
.total-amount-green {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 253, 0, 0.164);
  font-size: 14px;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.basket-responsive-position-head{
  display: none;
}

.basket-responsive {
  display: none;
}

.d-none{
  display: none;
  position: inherit;
}

.nav-width{
  width: 187px;
}

@media (max-width: 740px) {
  .basket {
    display: none;
  }

  .content-img{
    height: 180px;
  }
  .content-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-text{
    display: none;
  }

  .nav-width{
    width: 50px;
  }

  .basket-media{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
  }

  .basket-responsive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid red;
    position: fixed;
    bottom: 20px;
    background-color: #F36805;
    border-radius: 30px;
    cursor: pointer;
    width: calc(80% + 32px);
  }
  .cards{
    width: 100%;
    margin-bottom: 80px;
  }

  .basket-responsive-text{
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index: 1;
  }

  .basket-responsive-position{
    width: calc(100%);
    z-index: 1;
    bottom: 0.01px;
    position: fixed;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 8px);
  }

  .basket-responsive-position-head{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 90%;
  }

  .basket-responsive-position-text{
    font-size: 20px;
    font-weight: bold;
  }
  .close-basket{
    height: 18px;
    width: 18px;
    cursor: pointer;
  }

  .basket-position-resp{
    height: 87%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .basket-position{
    padding: 15px;
    margin: 10px;
  }
  .basket-position-head{
    justify-content: space-around;
  }
  .basket-position-value{
    justify-content: space-around;
  }
  .d-none{
  display: none;
  position: inherit;
}

.total-amount-green{
  width: 90%;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.total-amount-yellow{
  width: 90%;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.basket-empty{
  padding: 20px;
  text-align: center;
  gap: 20px;
}

}
